.bottol-container{
  border: 2px solid mediumorchid;
  padding: 10px;
  gap: 8px;
  border-radius: 15px;
}
.bottol-container img{
  width: 200px;
  height: 200px;
}

.bottols{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}